body {
  font-family: "Inter", sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
  color: #1c1c1e;
}

/* NAVBAR */
.navbar {
  background: #1b2a4e;
  color: white;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 20px;
  font-weight: 700;
}

.nav-links a {
  color: #dfe6f3;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
}

.hero {
  background: #243a66;
  color: white;
  padding: 60px 5%;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 35px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
}

.chart {
  height: 380px;
}

footer {
  text-align: center;
  padding: 25px;
  margin-top: 50px;
  background: #1b2a4e;
  color: white;
  font-size: 14px;
}
